.location-card {
  width: 20rem;
  text-align: center;
  margin: 5rem;
  border: solid 4px;
}

.location-gallery {
  display: flex;
}

.add-campsite--section {
  border: solid black;
  width: 75%;
}
.add-campsite--section--form {
}
